.card-product {
  border-radius: 12px;
  display: flex;
  background-color: white;
  transition: 200ms;
  align-items: center;
  padding: 20px;
  position: relative;
}

.card-product:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.limit-img {
  min-width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.img-product {
  height: 150px;
}

.container-info-product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  height: 150px;
  width: 100%;
}

.info-price {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.container-info-product div {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  color: #1c9bfd;
}

.product-description {
  font-size: 18px;
  font-family: Inter;
}

.price {
  font-size: 30px;
  font-family: Inter;
  font-weight: 700;
  color: #1c9bfd;
}

.date {
  font-family: Inter;
  font-size: 14px;
  color: gray;
}

.tools {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 8px;
}

.tools button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
  transition: 200ms;
}

.tools button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1250px) {
  .container-info-product {
    height: auto;
  }

  .info-price {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .img-product {
    height: 120px;
  }

  .limit-img {
    min-width: 220px;
  }

  .product-name {
    margin-top: 24px;
  }

  .price {
    font-size: 22px;
  }
}

@media screen and (max-width: 630px) {
  .img-product {
    height: 80px;
  }

  .limit-img {
    min-width: 150px;
  }

  .product-name {
    margin-top: 30px;
    font-size: 20px;
  }

  .product-description {
    font-size: 16px;
  }
}